.App {
  text-align: center;
  
  display: grid;
  grid-template-areas: " sidebar main ";
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 100vh;
}

button {
  padding: 0;
  border: none;
  background: none;
}

button:hover {
  background-color: pink;
}